
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="router.url!='/'">
          <a class="nav-link" routerLink="/medecin" routerLinkActive="active">Médecins</a>
        </li>
        <li class="nav-item" *ngIf="router.url!='/'">
          <a class="nav-link " routerLink="/visite" routerLinkActive="active" >Visites</a>
        </li>
      </ul>
    </div>
  </nav>

<router-outlet ></router-outlet>