
<div class="container">
  <h2 class="text-center">{{titre}}</h2>
  <div class="alert alert-warning" role="alert" *ngIf="!pwdIsGood">
    Mauvais login ou mot de passe
  </div>
  <form [formGroup]="connexionForm" (ngSubmit)="onSubmit()" class="col-8 mx-auto py-3">
    <div class="form-group">
      <label>Login : {{connexionForm.get('login').value}}  </label>
      <input type="text" class="form-control" placeholder="Entrez votre login"  formControlName="login" >
      <div class="alert alert-danger" role="alert" *ngIf="connexionForm.get('login').dirty && connexionForm.get('login').invalid">
        Le login est requis
      </div>  
    </div>
    <div class="form-group">
      <label>Mot de passe</label>
      <input type="password" class="form-control" placeholder="Entrez votre mot de passe" formControlName="password">
      <div class="alert alert-danger" role="alert" *ngIf="connexionForm.get('password').dirty && connexionForm.get('password').invalid">
        Le mot de passe est requis
      </div>
  </div>
  <button type="submit" class="btn btn-outline-primary" [disabled]="!formIsNotValid()">Valider</button>
</form>

</div>




