<div class="container">
  <h1>Page d'accueil</h1>

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam magnam rem
  omnis labore quasi enim ipsum deleniti id beatae, ex dicta officia vero
  nostrum, inventore ipsam quam, autem at doloremque!

</div>
